* {
   
    font-family: Helvetica ;
}

.logo img {
    height: 250px;
    width: 100%; 
    z-index: 0.5; 
}

.logo h1 {
    font-family:  Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    position: absolute;
    width: 100%;   
}

.Brushes h3 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.Brushes h4 {
    font-size: 20px ;
}

.Brushes strong {
    color: blue;
}

.Frames h3 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

.Frames h4 {
    font-size: 20px;
}

.Frames strong {
    color: blue;
}

.Paint h3 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

.Paint h4 {
    font-size: 20px;
}

.Paint strong {
    color: blue;
 }

 



